.calculadora {
    display: block;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(11, 14, 11);
    width: 310px;
    height: 500px;
    border-radius: 15px;
}
.calculadora td button {
    display: block;
    width: 70px;
    height: 70px;
    font-size: 25px;
}
#resultado {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    border-radius: 15px;
    overflow-y: scroll;

}
h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: rgb(10, 8, 8);

}
h3 {
    font-size: 20px;
    display: flex;
    justify-content: center;
}
body {
    background-image: linear-gradient(to right,blue,rgb(151, 190, 151) );
}
p {
    font-size: 23px;
    display: block;
    justify-self: left;
    border: 1px black solid;
    border-radius: 18px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background-image: linear-gradient(blue,white, green, rgb(143, 143, 68));
}
header {
    border: solid black 1px;
    border-radius: 25px;
    padding: 10px;
    background-image: linear-gradient(blue, rgb(27, 206, 27));
    margin: 20px;

}